@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --background-color: rgb(19, 18, 20);
    --primary-color: rgb(30, 28, 36);
    --color-title: rgb(255, 255, 255);
    --color-paragraph: #a1a1aa;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

body {
    background-image: url(https://github.com/birobirobiro/nlw-esports/blob/master/assets/bg.jpg?raw=true);
    background-size: 100%;
    background-repeat: no-repeat;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 3.2rem;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 2.4rem 3.2rem;
    background-color: var(--primary-color);
    border-radius: 0.8rem;
    margin-top: 0.4rem;
}

.profile-img {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
        90deg,
        #42395b 0%,
        #43e7ad 50.52%,
        #b3aa5e 100%
    );
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img img {
    width: 14rem;
    height: 14rem;
    border-radius: 10rem;
}

.profile-img:hover {
    transform: scale(1.05);
    transition: transform 400ms;
}

.wrapper {
    max-width: 100%;
    width: 58rem;

    background: linear-gradient(
        90deg,
        #42395b 0%,
        #43e7ad 50.52%,
        #b3aa5e 100%
    );
    background-size: 100% 1rem;
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 1.35rem;
}

#write {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2.4rem;
    color: var(--color-title);
    font-weight: 900;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    color: var(--color-paragraph);
    font-weight: 400;
}

.imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    gap: 2rem;

    padding-top: 4rem;
}

.imgs-games img {
    width: 11.1rem;
    height: 14.1rem;
    border-radius: 0.8rem;
}

.imgs-streamers img {
    border: 3px solid rgba(255, 255, 255, 0.093);
    border-radius: 5rem;
    width: 8rem;
}

.imgs-socialLinks, .imgs-stack {
    justify-content: left !important;
}

.imgs-stack img {
    width: 6rem;
}

.imgs-socialLinks img{
    
}

.imgs img:hover {
    transform: scale(1.05);
    transition: transform 400ms;
}
